<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <h1 class="mb-4">Perfil de Usuario</h1>
    <img src="/images/{{user.photo}}" class="img-fluid rounded-circle mb-3" alt="Foto de Perfil">
    <p class="lead">Email: {{user.email}}</p>
    <p class="lead">Rol: {{user.role}}</p>
  </div>
</div>
